{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "semi": 0,
    "no-extra-semi": 1,
    "@typescript-eslint/member-delimiter-style": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}